<header class="bg-blue-400 flex align-center justify-between w-full p-2 w-full ">
  <div class="font-bold text-center text-white">
     <a href="/" class="decoration-none text-xl">TenMa</a>
  </div>
  <div class="flex justify-between gap-3">
    <button class="bg-green p-3">
      <i class="fa-solid fa-bell bg-black-300">
      </i>
      <button class="bg-white-300 p-3">
        <i class="fa-regular fa-user bg-black-200"></i>
    </button>
  

  <button class="bg-white text-black">
    <i class="fa-solid fa-bars">
      
    </i>
    
  </button>
  </div/>
</header>