{% extends "../base.html" %}
 {% block title%} Admin Dashboard{% endblock %}
{% block content %} 
    <div class="m-2">
      <div class="p-3 border-b-1 ">
        <h3 class="text-lg font-bold">Dashboard</h3>
        <p class="text-blue-200">Welcome, <b>Admin!</b></p>
      </div>
       
       
       <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 ">
           <div class=" w-60 md:w-40 md:h-40 border-1 shadow-lg  rounded p-4 m-3">
               <p>Tenants</p>
                <h2 class="text-lg font-bold ">{{tenants}}</h2>
                <i class="fa-solid fa-users"></i>
            </div>
            <div class=" w-60 md:w-40 md:h-40   border-1 shadow-lg  rounded p-4 m-3">
               <p>Apartments</p>
                <h2 class="text-lg font-bold ">350</h2>
                <i class="fa-solid fa-building"></i>
            </div>
            <div class=" w-60 md:w-40 md:h-40  border-1 shadow-lg  rounded p-4 m-3">
               <p>Revenue</p>
                <h2 class="text-lg font-bold ">Ksh 200000</h2>
                <i class="fa-solid fa-money-bill"></i>
            </div>
             <div class=" w-60 md:w-40 md:h-40  border-1 shadow-lg  rounded p-4 m-3">
               <p>Rent due</p>
                <h2 class="text-lg font-bold ">650000</h2>
                <i class="fa-solid fa-clock"></i>
             </div>
       </div>
    </div>
{% endblock%}
