{% extends "super/base.html"%}
{% block title %}Tenants {% endblock%}
{% block content%}
  <div class="w-full">
    <button onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></button>

    <div class="flex flex-col gap-3">
       {% for message in messages %}
            <div class="p-2 bg-gray-3000">
               {{message}}
            </div>
       {% endfor%}
    </div>
    <div class="flex justify-center md:block">
      <form method="post" class="shadow-lg rounded m-2 p-2 w-100">
             <h3 class="text-lg font-bold text-center">Add tenant</h3>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="bg-green-400 rounded text-white active:bg-green-600 m-3 p-2 ">Submit</button>
      </form>
    </div>
  </div>
  
{% endblock %}